<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.phoenix.web.mapper.SysRoleMapper">

    <select id="selectPage" resultType="SysRole">
        SELECT `id`, `name`, `remark`, `create_date`, `update_date`
        from sys_role
        where 1 = 1
        <if test="role.name!=null and role.name !=''">
            and `name` like concat('%', #{role.name}, '%')
        </if>
    </select>

    <delete id="deleteRolePermissionByRoleId" parameterType="Long">
        delete
        from sys_role_permission
        where role_id = #{roleId}
    </delete>

    <insert id="saveRolePermission">
        insert into sys_role_permission(role_id,permission_id) values
        <foreach collection="permissionIds" item="permissionId" index="index" separator=",">
            (#{roleId},#{permissionId})
        </foreach>
    </insert>


    <select id="findListByUserId" resultType="SysRole">
        select r.*
        from sys_role r
                 join sys_user_role ur on r.id = ur.role_id
                 join sys_user u on ur.user_id = u.id
        where u.id = #{userId}
    </select>


</mapper>